{{!
    This file is part of The Customlabel Module

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_customlabel/contactpoint

    Classes required for JS:
    * no classes

}}
<!-- customlabeltype_contactpoint/template -->
<table class="custombox-contactpoint" cellspacing="0" width="100%">
    <tr valign="top">
        <td class="custombox-header-thumb contactpoint {{contacttypeoption}}" style="background-image : url({{{iconurl}}});" width="2%" rowspan="4">
        </td>

        <td class="custombox-header-caption contactpoint" width="98%" colspan="2">
            {{#str}}contactpoint, customlabeltype_contactpoint{{/str}}<br/>
            <span class="custombox-header-caption contacttype">{{#str}}method, customlabeltype_contactpoint{{/str}} : {{contacttype}}</span>
        </td>
    </tr>
    <tr>
        <td class="custombox-content contactpoint" colspan="2">
            {{{instructions}}}
        </td>
    </tr>
</table>
<!-- /customlabeltype_contactpoint/template -->
