{{!
    This file is part of The Customlabel Module

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_customlabel/authornote

    Classes required for JS:
    * mod/customlabel/customlabel

}}
<!-- customlabeltype_pedagogicadvice/template -->
<div class="custombox-meta-element {{labelclass}}">
{{> mod_customlabel/start }}
    <div class="custombox-container {{labelclass}}">

        <div class="custombox-flexline {{labelclass}}">
            <div class="custombox-control {{labelclass}}">
                <h4><img id="customctl-{{customid}}" class="customctl" src="{{{initialcontrolimageurl}}}" />
                <span class="custombox-header-caption {{labelclass}}">{{#str}}pedagogicadvice, customlabeltype_pedagogicadvice{{/str}}</span></h4>
            </div>
        </div>

        <div class="custombox-helper {{labelclass}}">
            <b>{{#str}}pedagogicnotesignal, customlabeltype_pedagogicadvice{{/str}}</b>
        </div>

        <div class="custombox-block {{labelclass}} {{initialclass}}" id="custom-{{customid}}">
            <div>
                {{{advice}}}
            </div>
        </div>
    </div>
{{> mod_customlabel/end }}
</div>
<!-- /customlabeltype_pedagogicadvice/template -->
