.editing li.activity.customlabel .contentwithoutlink {
    padding-right: 20px !important;
    padding-top: 30px !important;
}

.editing li.activity.customlabel.label * {
    font-weight: normal;
}

.customlabel.label {
    font-weight: initial;
}

.customlabel.label b {
    font-weight: bolder;
}

.constraint-cell {
    text-align: center;
}

.constraint-cell.included select {
    background-color: #ffa0a0;
    color: #800000;
}

.constraint-cell.included select {
    background-color: #a0ffa0;
    color: #008000;
}

.constraint-form-table td {
    padding: 5px;
}

/* general class for all subtypes */
.custombox-content.hidden {
    display:none;
}

form[name="chooseset"] {
    margin-bottom: 15px;
}

.customlabel-constraint-select.green {
    background-color:#bbfaa3;
}

td.custombox-header-thumb,
td.custombox-thumb {
    padding-top: 1.2em;
}

@media all and (max-width: 480px) {
    td.custombox-header-thumb {
        background-size: 100%;
        padding-top: 0.2em;
    }

    .custombox-header-thumb:after {
        font-size: 18px;
    }
}