.editing li.activity.customlabel .contentwithoutlink {
    padding-right: 20px !important;
    padding-top: 30px !important;
}

.customlabel.label {
    font-weight: initial;
}

.customlabel.label b {
    font-weight: bolder;
}

.constraint-cell {
    text-align: center;
}

.constraint-cell.included select {
    background-color: #ffa0a0;
    color: #800000;
}

.constraint-cell.included select {
    background-color: #a0ffa0;
    color: #008000;
}

.constraint-form-table td {
    padding: 5px;
}

/* general class for all subtypes */
.custombox-content.hidden {
    display:none;
}

form[name="chooseset"] {
    margin-bottom: 15px;
}

.customlabel-constraint-select.green {
    background-color:#bbfaa3;
}

/* element type form chooser separator */
#id_labelclass option[disabled="disabled"] {
    background-color: #eee;
}

td.custombox-header-thumb,
td.custombox-thumb {
    padding-top: 1.2em;
}

.custombox-content {
    padding-left: 20px;
}

.custombox-meta-element {
    -moz-opacity: 0.8;
    opacity: 0.8;
    background-color: #eee;
    border: 1px dashed #ddd;
}

.custombox-container {
    display: flex;
    flex-direction: column;
}

.custombox-header-thumb {
    border-right : #ddd 1px solid;
}

.custombox-flexline {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

@media all and (max-width: 480px) {
    td.custombox-header-thumb {
        background-size: 100%;
        padding-top: 0.2em;
    }

    .custombox-header-thumb:after {
        font-size: 18px;
    }
}