
table.genericpractices td.leftmargin {
   background-color : #D9D9D9;
   min-width:30px;
}

table.genericpractices td.practicecontent {
   padding-left: 25px;
}

table.genericpractices td.practicecontent h3{
   font-size : 11px;
} 

table.genericpractices td.practicecontent ul li {
   font-size : 14px;
   font-family : "verdana";
   line-height : 1.4em;
}