.labelcontent table {
    background-color: #dadada;
    border: 1px solid #808080;
    margin-bottom: 10px;
    padding: 3px;
    width: 100%;
}

.labelcontent .title {
    background-color: #404040;
    color: #e0e0e0;
    padding: 2px;
}

.labelcontent .param {
    border: 1px solid #808080;
    color: #000;
    padding: 2px;
    text-align: right;
    vertical-align: top;
    width: 30%;
}

.labelcontent .value {
    background-color: #e0e0e0;
    border: 1px solid #808080;
    color: #000;
    padding: 2px;
    text-align: left;
    vertical-align: top;
}

.labelcontent .locked {
    background-color: red;
}
