.custombox-NEWTYPE {
    width: 100%;
}

.custombox-header-thumb.NEWTYPE.colored {
    border-right: 1px solid #888;
}

.custombox-header-caption.NEWTYPE.colored {
    color: #888;
}

.custombox-header-thumb.NEWTYPE {
    /* background-image: url("/mod/customlabel/{{baseurl}}/icon_NEWTYPE.png"); */
}

.custombox-header-thumb.NEWTYPE.flatstyle {
    background-image: url("/mod/customlabel/pix/spots/F3003A_spot.png");
}

.custombox-header-thumb.NEWTYPE.flatstyle:after {
    content: "\f085";
}
