{{!
    This file is part of The Customlabel Module

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_customlabel/question

    Classes required for JS:
    * mod/customlabel/customlabel

}}
<!-- customlabeltype_question/template -->
<table class="custombox-question" width="100%">

    <tr valign="top">
        <td class="custombox-header-thumb question" style="background-image : url({{{iconurl}}});" width="2%" rowspan="6">
        </td>
        <td class="custombox-header-caption question" width="96%">
            {{#str}}question, customlabeltype_question{{/str}}
        </td>
    </tr>

    <tr valign="top">
        <td class="custombox-content questiontext">
            {{{questiontext}}}
        </td>
    </tr>

    {{#hint}}
    <tr>
        <td class="custombox-header-collapser question" align="left" >
            <img id="customctl-{{customid}}-hint" src="{{{hintinitialcontrolimageurl}}}" class="customctl" /> {{#str}}hint, customlabeltype_question{{/str}}
        </td>
    </tr>

    <tr valign="top">
        <td  id="custom-{{customid}}-hint" class="custombox-content hint {{hintinitialclass}}">
            {{{hint}}}
        </td>
    </tr>
    {{/hint}}

    <tr>
        <td class="custombox-header-collapser question" align="left">
            {{#canshow}}
            <img id="customctl-{{{customid}}}" src="{{{initialcontrolimageurl}}}" class="customctl" /> {{#str}}solution, customlabeltype_question{{/str}}
            {{/canshow}}
            {{^canshow}}
            {{#str}}solution, customlabeltype_question{{/str}}<br/>
            <span class="comment">{{#str}}notavailableyet, customlabeltype_question{{/str}}</span>
            {{#hascap}}
            <span class="teacher-comment">{{#str}}willopenon, customlabeltype_question{{/str}}: {{opentime}}</span>
            {{/hascap}}
            {{/canshow}}
        </td>
    </tr>

    <tr valign="top">
        <td  id="custom-{{customid}}" class="custombox-content questiontext {{initialclass}}">
            {{#canshow}}
            {{{answertext}}}
            {{/canshow}}
        </td>
    </tr>

</table>
<!-- /customlabeltype_question/template -->
