
table.custombox-unitheading h1 {
   color: #F2A439;
   font-size: 22px;
   line-height: 26px;
}

table.custombox-unitheading p {
    font-size: 12pt;
    line-height: 1.5em;
    width: 95%;
}

tr.custombox-icon.unitheading {
    height: 85px;
    min-height: 85px;
}

td.custombox-icon-left.unitheading {
    background-size: 100% auto !important;
    min-width: 80px;
    padding-right: 20px;
}

td.custombox-icon-right.unitheading {
    min-width: 80px;
    padding-left: 20px;
}