
table.custombox-sectionheading h1 {
   font-size: 22px;
   line-height:26px;
   color: #F2A439
}

table.custombox-sectionheading p {
	font-size:12pt;
    width:95%;
    line-height:1.5em;
}

tr.custombox-icon.sectionheading{
	min-height:85px;
	height:85px;
}

td.custombox-icon-left.sectionheading{
	min-width:80px;
	padding-right:20px;
}

td.custombox-icon-right.sectionheading{
	min-width:80px;
	padding-left:20px;
}