.custombox-definition {
    width: 100%;
}

.custombox-header-thumb.definition.colored {
    border-right: 1px solid #c76205;
}

.custombox-header-caption.definition.colored {
    color: #c76205;
}

.custombox-header-thumb.definition {
    background-image: url("/mod/customlabel/{{baseurl}}/icon_definition.png");
}

.custombox-header-thumb.definition.flatstyle {
    background-image: url("/mod/customlabel/pix/spots/redspot.png");
}

.custombox-header-thumb.definition.flatstyle:after {
    content: "\F13D"; /* fa-anchor */
}

.custombox-subdefinitions.definition {
    padding-left: 50px;
}
