div.custombox-courseheading 
{
	width:100%;
}

div.custombox-courseheading h1 
{
   font-size: 24px;
   line-height: 26px;
   border-bottom:2px solid #404040;
}

div.custombox-heading.courseheading 
{
}

div.custombox-description.courseheading 
{
   padding-left : 10px;
}

div.custombox-idnumber.courseheading
{
	display:inline;
} 