h2.sequenceheading {
   background-image: url("sequenceheading.jpg");
   background-repeat : no-repeat;
   font-size: 20px !important;
   line-height: 22px !important;
   color:rgb(65,111,186);
   height:95px;
   margin-top: 0em !important;
   padding-top: 20px !important;
   padding-left: 125px !important;
}