{{!
    This file is part of The Customlabel Module

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_customlabel/courseclassifier

    Classes required for JS:
    * no classes
}}
<!-- customlabeltype_coursedata/template -->
<table class="custombox-coursedata">

    {{#tablecaption}}
    <tr valign="top">
        <th class="custombox-title coursedata" colspan="2">
            {{{tablecaption}}}
        </th>
    </tr>
    {{/tablecaption}}

    {{#showidnumber}}
    <tr valign="top">
        <td class="custombox-param coursedata" width="{{leftcolumnratio}}">
            {{#str}}trainingid, customlabeltype_coursedata{{/str}}:
        </td>
        <td class="custombox-value coursedata" width="{{rightcolumnratio}}">
            {{idnumber}}
        </td>
    </tr>
    {{/showidnumber}}

    {{#showtarget}}
    <tr valign="top">
        <td class="custombox-param coursedata" width="{{leftcolumnratio}}">
            {{#str}}public, customlabeltype_coursedata{{/str}}:
        </td>
        <td class="custombox-value coursedata" width="{{rightcolumnratio}}">
            {{{target}}}
        </td>
    </tr>
    {{:showtarget}}

    {{#showgoals}}
    <tr valign="top">
        <td class="custombox-param coursedata" width="{{leftcolumnratio}}">
            {{#str}}goals, customlabeltype_coursedata{{/str}}:
        </td>
        <td class="custombox-value coursedata" width="{{rightcolumnratio}}">
            {{{goals}}}
        </td>
    </tr>
    {{/showgoals}}

    {{#showobjectives}}
    <tr valign="top">
        <td class="custombox-param coursedata" width="{{leftcolumnratio}}">
            {{#str}}objectives, customlabeltype_coursedata{{/str}}:
        </td>
        <td class="custombox-value coursedata" width="{{rightcolumnratio}}">
            {{{objectives}}}
        </td>
    </tr>
    {{/showobjectives}}

    {{#showconcepts}}
    <tr valign="top">
        <td class="custombox-param coursedata" width="{{leftcolumnratio}}">
            {{#str}}concepts, customlabeltype_coursedata{{/str}}:
        </td>
        <td class="custombox-value coursedata" width="{{rightcolumnratio}}">
            {{{concepts}}}
        </td>
    </tr>
    {{/showconcepts}}

    {{#showduration}}
    <tr valign="top">
        <td class="custombox-param coursedata" width="{{leftcolumnratio}}">
            {{#str}}duration, customlabeltype_coursedata{{/str}}:
        </td>
        <td class="custombox-value coursedata" width="{{rightcolumnratio}}">
            {{{duration}}}
        </td>
    </tr>
    {{/showduration}}

    {{#showteachingorganization}}
    <tr valign="top">
        <td class="custombox-param coursedata" width="{{leftcolumnratio}}">
            {{#str}}teachingorg, customlabeltype_coursedata{{/str}}:
        </td>
        <td class="custombox-value coursedata" width="{{rightcolumnratio}}">
            {{{teachingorganization}}}
        </td>
    </tr>
    {{/showteachingorganization}}

    {{#showprerequisites}}
    <tr valign="top">
        <td class="custombox-param coursedata" width="{{leftcolumnratio}}">
            {{#str}}prerequisites, customlabeltype_coursedata{{/str}}:
        </td>
        <td class="custombox-value coursedata" width="{{rightcolumnratio}}">
            {{{prerequisites}}}
        </td>
    </tr>
    {{/showprerequisites}}

    {{#showfollowers}}
    <tr valign="top">
        <td class="custombox-param coursedata" width="{{leftcolumnratio}}">
            {{#str}}followingcourses, customlabeltype_coursedata{{/str}}:
        </td>
        <td class="custombox-value coursedata" width="{{rightcolumnratio}}">
            {{{followers}}}
        </td>
    </tr>
    {{/showfollowers}}
</table>
<!-- /customlabeltype_coursedata/template -->
