{{!
    This file is part of The Customlabel Module

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_customlabel/courseclassifier

    Classes required for JS:
    * no classes
}}
<!-- customlabeltype_coursedata/template -->
{{> mod_customlabel/start }}
    <table width="100%">
        {{#tablecaption}}
        <tr class="custombox-{{labelclass}}">
            <td class="custombox-title {{labelclass}}" colspan="2">
                {{{tablecaption}}}
            </td>
        </tr>
        {{/tablecaption}}

        {{#showidnumber}}
        <tr class="custombox-{{labelclass}}">
            <td class="custombox-param {{labelclass}}" width="{{leftcolumnratio}}">
                {{#str}}divainingid, customlabeltype_coursedata{{/str}}
            </td>
            <td class="custombox-value {{labelclass}}" width="{{rightcolumnratio}}">
                {{idnumber}}
            </td>
        </tr>
        {{/showidnumber}}

        {{#showtarget}}
        <tr class="custombox-{{labelclass}}">
            <td class="custombox-param {{labelclass}}" width="{{leftcolumnratio}}">
                {{#str}}public, customlabeltype_coursedata{{/str}}
            </td>
            <td class="custombox-value {{labelclass}}" width="{{rightcolumnratio}}">
                {{{target}}}
            </td>
        </tr>
        {{/showtarget}}

        {{#showgoals}}
        <tr class="custombox-{{labelclass}}">
            <td class="custombox-param {{labelclass}}" width="{{leftcolumnratio}}">
                {{#str}}goals, customlabeltype_coursedata{{/str}}
            </td>
            <td class="custombox-value {{labelclass}}" width="{{rightcolumnratio}}">
                {{{goals}}}
            </td>
        </tr>
        {{/showgoals}}

        {{#showobjectives}}
        <tr class="custombox-{{labelclass}}">
            <td class="custombox-param {{labelclass}}" width="{{leftcolumnratio}}">
                {{#str}}objectives, customlabeltype_coursedata{{/str}}
            </td>
            <td class="custombox-value {{labelclass}}" width="{{rightcolumnratio}}">
                {{{objectives}}}
            </td>
        </tr>
        {{/showobjectives}}

        {{#showconcepts}}
        <tr class="custombox-f{{labelclass}}">
            <td class="custombox-param {{labelclass}}" width="{{leftcolumnratio}}">
                {{#str}}concepts, customlabeltype_coursedata{{/str}}
            </td>
            <td class="custombox-value {{labelclass}}" width="{{rightcolumnratio}}">
                {{{concepts}}}
            </td>
        </tr>
        {{/showconcepts}}

        {{#showduration}}
        <tr class="custombox-{{labelclass}}">
            <td class="custombox-param {{labelclass}}" width="{{leftcolumnratio}}">
                {{#str}}duration, customlabeltype_coursedata{{/str}}
            </td>
            <td class="custombox-value {{labelclass}}" width="{{rightcolumnratio}}">
                {{{duration}}}
            </td>
        </tr>
        {{/showduration}}

        {{#showteachingorganization}}
        <tr class="custombox-{{labelclass}}">
            <td class="custombox-param {{labelclass}}" width="{{leftcolumnratio}}">
                {{#str}}teachingorg, customlabeltype_coursedata{{/str}}
            </td>
            <td class="custombox-value {{labelclass}}" width="{{rightcolumnratio}}">
                {{{teachingorganization}}}
            </td>
        </tr>
        {{/showteachingorganization}}

        {{#showprerequisites}}
        <tr class="custombox-{{labelclass}}">
            <td class="custombox-param {{labelclass}}" width="{{leftcolumnratio}}">
                {{#str}}prerequisites, customlabeltype_coursedata{{/str}}
            </td>
            <td class="custombox-value {{labelclass}}" width="{{rightcolumnratio}}">
                {{{prerequisites}}}
            </td>
        </tr>
        {{/showprerequisites}}

        {{#showevaluation}}
        <tr class="custombox-{{labelclass}}">
            <td class="custombox-param {{labelclass}}" width="{{leftcolumnratio}}">
                {{#str}}evaluation, customlabeltype_coursedata{{/str}}
            </td>
            <td class="custombox-value {{labelclass}}" width="{{rightcolumnratio}}">
                {{{evaluation}}}
            </td>
        </tr>
        {{/showevaluation}}

        {{#showoutcomes}}
        <tr class="custombox-{{labelclass}}">
            <td class="custombox-param {{labelclass}}" width="{{leftcolumnratio}}">
                {{#str}}outcomes, customlabeltype_coursedata{{/str}}
            </td>
            <td class="custombox-value {{labelclass}}" width="{{rightcolumnratio}}">
                {{{outcomes}}}
            </td>
        </tr>
        {{/showoutcomes}}

        {{#showcompetencies}}
        <tr class="custombox-{{labelclass}}">
            <td class="custombox-param {{labelclass}}" width="{{leftcolumnratio}}">
                {{#str}}competencies, customlabeltype_coursedata{{/str}}
            </td>
            <td class="custombox-value {{labelclass}}" width="{{rightcolumnratio}}">
                {{{competencies}}}
            </td>
        </tr>
        {{/showcompetencies}}

        {{#showfollowers}}
        <tr class="custombox-{{labelclass}}">
            <td class="custombox-param {{labelclass}}" width="{{leftcolumnratio}}">
                {{#str}}followingcourses, customlabeltype_coursedata{{/str}}
            </td>
            <td class="custombox-value {{labelclass}}" width="{{rightcolumnratio}}">
                {{{followers}}}
            </td>
        </tr>
        {{/showfollowers}}

        {{#showheadteacher}}
        <tr class="custombox-{{labelclass}}">
            <td class="custombox-param {{labelclass}}" width="{{leftcolumnratio}}">
                {{#str}}headteacher, customlabeltype_coursedata{{/str}}
            </td>
            <td class="custombox-value {{labelclass}}" width="{{rightcolumnratio}}">
                {{{headteacher}}}
            </td>
        </tr>
        {{/showheadteacher}}
        
        {{#showlastupdate}}
        <tr class="custombox-{{labelclass}}">
            <td class="custombox-param {{labelclass}}" width="{{leftcolumnratio}}">
                {{#str}}lastupdate, customlabeltype_coursedata{{/str}}
            </td>
            <td class="custombox-value {{labelclass}}" width="{{rightcolumnratio}}">
                {{{lastupdate}}}
            </td>
        </tr>
        {{/showlastupdate}}
    </table>
{{> mod_customlabel/end }}
<!-- /customlabeltype_coursedata/template -->
