.custombox-keypoints {
    width: 100%;
}

.custombox-header-thumb.keypoints.colored {
    border-right: 1px solid #c76205;
}

.custombox-header-caption.keypoints.colored {
    color: #c76205;
}

.custombox-header-thumb.keypoints {
    background-image: url("/mod/customlabel/{{baseurl}}/icon_keypoints.png");
    background-repeat: no-repeat;
    height:73px;
}

#region-main .custombox-header-thumb.keypoints,
#page-region-main .custombox-header-thumb.keypoints {
    min-width:80px;
    width:80px;
}

#page-region-pre .custombox-header-thumb.keypoints,
#region-pre .custombox-header-thumb.keypoints,
#region-post .custombox-header-thumb.keypoints,
#page-region-post .custombox-header-thumb.keypoints {
    background-size: 70%;
    min-width:35px;
    width:35px;
}

.custombox-content.keypoints {
    min-height: 100px;
}

.custombox-content.keypoints ul {
    list-style-position: outside;
}
.custombox-header-thumb.keypoints.flatstyle {
    background-image: url("/mod/customlabel/pix/spots/orangespot.png");
    text-align: center;
}

#page-region-main .custombox-header-thumb.keypoints.flatstyle,
#region-main .custombox-header-thumb.keypoints.flatstyle {
    background-position: 30% 0%;
}

.custombox-header-thumb.keypoints.flatstyle:after {
    content: "\f0f3"; /* fa-bell */
    font-family: "fontAwesome";
    color: white;
    font-size:32px;
}

#page-region-pre .custombox-header-thumb.keypoints.flatstyle:after,
#region-pre .custombox-header-thumb.keypoints.flatstyle:after,
#region-post .custombox-header-thumb.keypoints.flatstyle:after,
#page-region-post .custombox-header-thumb.keypoints.flatstyle:after {
    font-size:12px;
    position: relative;
    top: -15px;
    left: -5px;
}
