.custombox-authordata {
    border: 1px solid #000;
    width: 100%;
}

.custombox-authordata p {
    margin-top: 0;
    padding-top: 0;
}

.custombox-title.authordata {
    background-color: #000;
    color: #f0f0f0;
    font-size: 15px;
    padding: 5px;
    text-align: left;
}

.custombox-param.authordata {
    background-color: #606060;
    border: #ffffff 1px solid;
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
}

.custombox-authordata td.custombox-value.authordata {
    background-color: #e0e0e0;
    border: #a0a0a0 1px solid;
    color: #404040;
    padding: 5px;
}

.custombox-authordata img {
    height: 40px;
    width: auto;
}