table.custombox-authordata {
    border: none;
    border-collapse:separate;
    margin:10px 0px 10px 0px;
    width: 100%;
}

.custombox-title.authordata {
    background-color: #333;
    color: white;
    font-size: 15px;
    padding: 5px;
    text-align: left;
    text-transform: uppercase;
}

.custombox-header-thumb.authordata {
    /* No thumb */
    display: none;
}

.custombox-param.authordata {
    background-color: #888;
    border: solid 1px white;
    color: white;
    padding: 10px;
}

.custombox-authordata td.custombox-value.authordata {
    background-color: white;
    border: none;
    padding: 10px;
}

.custombox-authordata img {
    height: 40px;
    width: auto;
}