.custombox-authordata {
   width: 100%;
   border:1px solid #000000;
}

.custombox-authordata p {
	padding-top:0px;
	margin-top:0px;
}

.custombox-title.authordata {
   background-color: #000000;
   color: #F0F0F0;
   font-size: 15px;
   text-align: left;
   padding: 5px;
}

.custombox-param.authordata {
   background-color: #606060;
   color: #FFFFFF;
   font-weight: bold;
   padding: 5px;
   border:#ffffff 1px solid;
}

.custombox-authordata td.custombox-value.authordata {
   background-color: #E0E0E0;
   color: #404040;
   padding: 5px;
   border:#A0A0A0 1px solid !important;
}