table.custombox-soluce {
   width: 100%;
}

.custombox-header-thumb.soluce {
    padding-right:8px;
    border-right:1px solid #76F451 !important;
}

.custombox-header-thumb.soluce {
    min-width:25px;
    width:25px;
    background-image: url("/mod/customlabel/type/soluce/icon_solution_small.png"); 
    background-repeat: no-repeat;
    height:73px;
}

#region-main .custombox-header-thumb.soluce,
#page-region-main .custombox-header-thumb.soluce {
    width:65px;
    min-width:65px;
    background-image: url("/mod/customlabel/type/soluce/icon_solution.png"); 
    background-repeat: no-repeat;
    height:73px;
}

td.custombox-header-caption.soluce {
    color:#1EB31A;
    font-weight:bolder;
    font-size:1.3em;
    padding-left:8px;
}

td.custombox-content.soluce {
    padding-left:8px;
    min-height:100Px;
}

td.custombox-content.soluce h1,
td.custombox-content.soluce h2,
td.custombox-content.soluce h3{
    background-image:none !important;
    padding-left:0px !important;
    color:#2D6A17 !important;
    font-weight:bolder !important;
}

