table.custombox-soluce {
    width: 100%;
}

.custombox-header-thumb.soluce {
    border-right: 1px solid #76f451 !important;
    padding-right: 8px;
}

.custombox-header-thumb.soluce {
    background-image: url("/mod/customlabel/type/soluce/pix/icon_soluce_small.png");
    background-repeat: no-repeat;
    height: 73px;
    min-width: 25px;
    width: 25px;
}

#region-main .custombox-header-thumb.soluce,
#page-region-main .custombox-header-thumb.soluce {
    background-image: url("/mod/customlabel/type/soluce/pix/icon_soluce.png");
    background-repeat: no-repeat;
    height: 73px;
    min-width: 65px;
    width: 65px;
}

td.custombox-header-caption.soluce {
    color: #1eb31a;
    font-size: 1.3em;
    font-weight: bolder;
    padding-left: 8px;
}

td.custombox-content.soluce {
    min-height: 100px;
    padding-left: 8px;
}

td.custombox-content.soluce h1,
td.custombox-content.soluce h2,
td.custombox-content.soluce h3 {
    background-image: none !important;
    color: #2d6a17 !important;
    font-weight: bolder !important;
    padding-left: 0 !important;
}
