.custombox-contactpoint {
    width: 100%;
}

.custombox-header-thumb.contactpoint.colored {
    border-right: 1px solid #1d0299;
}

.custombox-header-caption.contactpoint.colored {
    color: #1D0299;
}

.custombox-header-thumb.contactpoint {
    background-repeat: no-repeat;
    height: 73px;
}

#region-main .custombox-header-thumb.contactpoint,
#page-region-main .custombox-header-thumb.contactpoint {
    min-width: 80px;
    width: 80px;
}

#page-region-pre .custombox-header-thumb.contactpoint,
#region-pre .custombox-header-thumb.contactpoint,
#region-post .custombox-header-thumb.contactpoint,
#page-region-post .custombox-header-thumb.contactpoint {
    background-size: 70%;
    min-width: 35px;
    width: 35px;
}

.custombox-header-thumb.any {
    background-image: url("/mod/customlabel/{{baseurl}}/icon_any.png");
}

.custombox-header-thumb.anywritten {
    background-image: url("/mod/customlabel/{{baseurl}}/icon_anywritten.png");
}

.custombox-header-thumb.phone {
    background-image: url("/mod/customlabel/type/contactpoint/pix/icon_phone.png");
}

.custombox-header-thumb.mail {
    background-image: url("/mod/customlabel/type/contactpoint/pix/icon_mail.png");
}

.custombox-header-thumb.meeting {
    background-image: url("/mod/customlabel/type/contactpoint/pix/icon_meeting.png");
}

.custombox-header-thumb.onlinevocal {
    background-image: url("/mod/customlabel/type/contactpoint/pix/icon_onlinevocal.png");
}

.custombox-header-thumb.chat {
    background-image: url("/mod/customlabel/type/contactpoint/pix/icon_chat.png");
}

.custombox-header-thumb.facetoface {
    background-image: url("/mod/customlabel/type/contactpoint/pix/icon_facetoface.png");
}

.custombox-content.contactpoint {
    min-height: 100px;
}

/* contact points */
.custombox-header-thumb.contactpoint.flatstyle {
    background-image: url("/mod/customlabel/pix/spots/darkbluespot.png");
    text-align: center;
}

#page-region-main .custombox-header-thumb.contactpoint.flatstyle,
#region-main .custombox-header-thumb.contactpoint.flatstyle {
    background-position: 30% 0%;
}

.custombox-header-thumb.contactpoint.flatstyle:after {
    content: "\f0ec"; /* fa-exchange */
    font-family: "fontAwesome";
    color: white;
    font-size: 32px;
}

.custombox-header-thumb.contactpoint.phone.flatstyle:after {
    content: "\f095"; /* fa-phone */
}

.custombox-header-thumb.contactpoint.mail.flatstyle:after {
    content: "\f0e0"; /* fa-envelope */
}

.custombox-header-thumb.contactpoint.onlinevocal.flatstyle:after {
    content: "\f025"; /* fa-headphones */
}

.custombox-header-thumb.contactpoint.facetoface.flatstyle:after {
    content: "\f183\f183"; /* fa-male * 2 */
}

.custombox-header-thumb.contactpoint.meeting.flatstyle:after {
    content: "\f0c0"; /* fa-users */
}

.custombox-header-thumb.contactpoint.chat.flatstyle:after {
    content: "\f120"; /* fa-terminal */
}

#page-region-pre .custombox-header-thumb.contactpoint.flatstyle:after,
#region-pre .custombox-header-thumb.contactpoint.flatstyle:after,
#region-post .custombox-header-thumb.contactpoint.flatstyle:after,
#page-region-post .custombox-header-thumb.contactpoint.flatstyle:after {
    font-size: 12px;
    position: relative;
    top: -15px;
    left: -5px;
}
