table.custombox-contactpoint {
   width: 100%;
}

td.custombox-header-thumb.contactpoint {
    width:65px;
    padding-right:8px;
	border-right:1px solid #0040E0 !important;
}

#middle-column .custombox-header-thumb.any {
    min-width:65px;
	background-image: url("/mod/customlabel/type/contactpoint/icon_any.png"); 
	background-repeat: no-repeat;
    height:73px;
}

#left-column .custombox-header-thumb.any,
#right-column .custombox-header-thumb.any {
    width:25px;
	background-image: url("/mod/customlabel/type/contactpoint/icon_any_small.png"); 
	background-repeat: no-repeat;
    height:73px;
}

#middle-column .custombox-header-thumb.anywritten {
    min-width:76px;
	background-image: url("/mod/customlabel/type/contactpoint/icon_anywritten.png"); 
	background-repeat: no-repeat;
    height:73px;
}

#left-column .custombox-header-thumb.anywritten,
#right-column .custombox-header-thumb.anywritten {
    width:25px;
	background-image: url("/mod/customlabel/type/contactpoint/icon_anywritten_small.png"); 
	background-repeat: no-repeat;
    height:73px;
}

#middle-column .custombox-header-thumb.phone {
    min-width:76px;
	background-image: url("/mod/customlabel/type/contactpoint/icon_phone.png"); 
	background-repeat: no-repeat;
    height:73px;
}

#left-column .custombox-header-thumb.phone,
#right-column .custombox-header-thumb.phone {
    width:25px;
	background-image: url("/mod/customlabel/type/contactpoint/icon_phone_small.png"); 
	background-repeat: no-repeat;
    height:73px;
}

#middle-column .custombox-header-thumb.mail {
    min-width:76px;
	background-image: url("/mod/customlabel/type/contactpoint/icon_mail.png"); 
	background-repeat: no-repeat;
    height:73px;
}

#left-column .custombox-header-thumb.mail,
#right-column .custombox-header-thumb.mail {
    width:25px;
	background-image: url("/mod/customlabel/type/contactpoint/icon_mail_small.png"); 
	background-repeat: no-repeat;
    height:73px;
}

#middle-column .custombox-header-thumb.meeting {
    min-width:76px;
	background-image: url("/mod/customlabel/type/contactpoint/icon_meeting.png"); 
	background-repeat: no-repeat;
    height:73px;
}

#left-column .custombox-header-thumb.meeting,
#right-column .custombox-header-thumb.meeting {
    width:25px;
	background-image: url("/mod/customlabel/type/contactpoint/icon_meeting_small.png"); 
	background-repeat: no-repeat;
    height:73px;
}

#middle-column .custombox-header-thumb.onlinevocal {
    min-width:76px;
	background-image: url("/mod/customlabel/type/contactpoint/icon_onlinevocal.png"); 
	background-repeat: no-repeat;
    height:73px;
}

#left-column .custombox-header-thumb.onlinevocal,
#right-column .custombox-header-thumb.onlinevocal {
    width:25px;
	background-image: url("/mod/customlabel/type/contactpoint/icon_onlinevocal_small.png"); 
	background-repeat: no-repeat;
    height:73px;
}

#middle-column .custombox-header-thumb.chat {
    min-width:76px;
	background-image: url("/mod/customlabel/type/contactpoint/icon_chat.png"); 
	background-repeat: no-repeat;
    height:73px;
}

#left-column .custombox-header-thumb.chat,
#right-column .custombox-header-thumb.chat {
    width:25px;
	background-image: url("/mod/customlabel/type/contactpoint/icon_chat_small.png"); 
	background-repeat: no-repeat;
    height:73px;
}

#middle-column .custombox-header-thumb.facetoface {
    width:40px;
	background-image: url("/mod/customlabel/type/contactpoint/icon_facetoface.png"); 
	background-repeat: no-repeat;
    height:73px;
}

#left-column .custombox-header-thumb.facetoface,
#right-column .custombox-header-thumb.facetoface {
    width:25px;
    min-width:25px;
	background-image: url("/mod/customlabel/type/contactpoint/icon_facetoface_small.png"); 
	background-repeat: no-repeat;
    height:73px;
}

td.custombox-header-caption.contactpoint {
    color:#B7B7B7;
    font-weight:bolder;
    font-size:1.3em;
    padding-left:8px;
}

span.custombox-header-caption.contacttype {
    color:#BDBDDD;
    font-weight:bolder;
    font-size:0.8em;
    padding-left:8px;
    text-align:right;
}

td.custombox-content.contactpoint {
    padding-left:8px;
    min-height:100px;
}

td.custombox-content.contactpoint h1,
td.custombox-content.contactpoint h2,
td.custombox-content.contactpoint h3{
    background-image:none ;
    padding-left:0px ;
    color:#575757 ;
    font-weight:bolder ;
}