.custombox-remind {
    width: 100%;
}

.custombox-header-thumb.remind.colored {
    border-right: 1px solid #c76205;
}

.custombox-header-caption.remind.colored {
    color: #c76205;
}

.custombox-header-thumb.remind {
    background-image: url("/mod/customlabel/{{baseurl}}/icon_remind.png");
}

.custombox-header-thumb.remind.flatstyle {
    background-image: url("/mod/customlabel/pix/spots/orangespot.png");
}

.custombox-header-thumb.remind.flatstyle:after {
    content: "\f0e7";
}
