/* Defaults for those themes that do not handle a default or scss handling of those defaults */

.custombox-collapsedtext {
    font-size: 1.1em;
}

.custombox-collapsedtext-handle h4 {
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    margin-bottom: 10px;
}

.custombox-collapsedtext-panel {
    padding-top: 10px;
    padding-bottom: 10px;
}
