.custombox-method {
    width: 100%;
}

.custombox-header-thumb.method.colored {
    border-right: 1px solid #c76205;
}

.custombox-header-caption.method.colored {
    color: #c76205;
}

.custombox-header-thumb.method {
    background-image: url("/mod/customlabel/{{baseurl}}/icon_method.png");
    background-repeat: no-repeat;
    height: 73px;
}

#region-main .custombox-header-thumb.method,
#page-region-main .custombox-header-thumb.method {
    min-width: 80px;
    width: 80px;
}

#page-region-pre .custombox-header-thumb.method,
#region-pre .custombox-header-thumb.method,
#region-post .custombox-header-thumb.method,
#page-region-post .custombox-header-thumb.method {
    background-size: 70%;
    min-width: 35px;
    width: 35px;
}

.custombox-content.methodtext {
    min-height: 100px;
}

.custombox-header-thumb.method.flatstyle {
    background-image: url("/mod/customlabel/pix/spots/F3003A_spot.png");
    text-align: center;
}

#page-region-main .custombox-header-thumb.method.flatstyle,
#region-main .custombox-header-thumb.method.flatstyle {
    background-position: 30% 0%;
}

.custombox-header-thumb.method.flatstyle:after {
    content: "\f085";
    font-family: "fontAwesome";
    color: white;
    font-size: 32px;
}

#page-region-pre .custombox-header-thumb.method.flatstyle:after,
#region-pre .custombox-header-thumb.method.flatstyle:after,
#region-post .custombox-header-thumb.method.flatstyle:after,
#page-region-post .custombox-header-thumb.method.flatstyle:after {
    font-size: 12px;
    position: relative;
    top: -15px;
    left: -5px;
}
