/* Element specific rules that affect only this element class */

.custombox-commentbox {
    margin-left: 100px;
    padding: 10px;
}

.custombox-commentbox ul {
    margin-left: 10px;
}

#region-post .custombox-commentbox,
#page-region-post .custombox-commentbox {
    margin-left: 10px;
}

.custombox-commentbox.readmorelink {
    text-align: right;
}