.custombox-commentbox {
    border: 1px dashed #D0D0D0;
    background-color: #F8F8F8;
    color:#B0B0B0;
    padding: 10px;
    border-radius:6px;
    margin-left:100px;
}

.custombox-commentbox ul {
    margin-left:10px;
}

#region-post .custombox-commentbox,
#page-region-post .custombox-commentbox {
    margin-left:10px;
}


.custombox-commentbox > p{
    /* display:inline; */
}
