.custombox-verticalspacer {
    background: none;
    border: none;
    display: table-cell;
    vertical-align: bottom;
    width: 100%;
}

.custombox-verticalspacer img {
    margin-left: auto;
    margin-right: auto;
}

