.custombox-verticalspacer {
    width:100%;
    border:none;
    background:none;
    display:table-cell;
    vertical-align:bottom;
}

.custombox-verticalspacer img {
    margin-left:auto;
    margin-right:auto;
}

