
div.content table.genericgoals td.leftmargin {
   background-color : #FE0F64;
   min-width:30px;
}

div.content table.genericgoals td.goalcontent {
   padding-left: 25px;
}

div.content table.genericgoals td.goalcontent ul li {
   font-size : 18px;
   font-family : "verdana";
   line-height : 1.4em;
}