{{!
    This file is part of The Customlabel Module

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_customlabel/sequenceheading

    Classes required for JS:
    * mod/customlabel/customlabel

}}
<!-- customlabeltype_sequenceheading/template -->
<table class="custombox-sequenceheading" width="100%">
    <tr valign="{{verticalalignoption}}" class="custombox-icon sequenceheading">

        {{#toleft}}
        <td width="{{imagewidth}}" class="custombox-icon-left sequenceheading" align="center" valign="{{valigncontent}}"
                               style="background:url({{{imageurl}}}) {{valign}} no-repeat transparent">
        {{/toleft}}

        <td style="{{contentpadding}}">
            <h2 class="custombox-caption sequenceheading">{{{heading}}}</h2>
            <p class="sequenceheading">{{{shortdesc}}}</p>
        </td>

        {{#toright}}
        <td width="{{imagewidth}}" class="custombox-icon-right sequenceheading" align="center" valign="{{valigncontent}}"
                               style="background:url({{{imageurl}}}) {{valign}} no-repeat transparent">
        {{/toright}}

    </tr>
</table>
<!-- /customlabeltype_sequenceheading/template -->
