{{!
    This file is part of The Customlabel Module

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_customlabel/commentbox

    Classes required for JS:
    * no classes

}}
<!-- customlabeltype_commentbox/template -->
<div class="custombox-commentbox">
    <%%comment%%>
</div>

{{#readmorecontent}}
<div class="custombox-commentbox readmorelink">
    <span id="customctl-{{customid}}">{{initialstring}}</span>
</div>
<div class="custombox-commentbox readmore {{initialclass}}" id="custom-{{customid}}">
    {{{readmorecontent}}}
</div>
{{/readmorecontent}}
<!-- /customlabeltype_commentbox/template -->
