{{!
    This file is part of The Customlabel Module

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_customlabel/courseheading

    Classes required for JS:
    * no classes
}}
<!-- customlabeltype_courseheading/template -->
<table class="custombox-courseheading">
    <tr valign="middle" class="custombox-icon courseheading">

        {{{imageL}}}

        <td width="*">
            {{#showcategory}}
            <div class="custombox-category courseheading">
                {{{category}}}
            </div>
            {{/showcategory}}

            <div class="custombox-preheading courseheading">
                {{{moduletype}}}
            </div>

            <div class="custombox-heading courseheading">
                {{#showshortname}}
                {{{shortname}}} - 
                {{/showshortname}}
                <h1>{{{courseheading}}}</h1>
                {{#showidnumber}}
                ({{idnumber}})
                {{/showidnumber}}
            </div>

            {{#showdescription}}
            <div class="custombox-description courseheading">
                {{{coursedesc}}}
            </div>
            {{/showdescription}}
        </td>

        {{{imageR}}}
    </tr>
</table>
<!-- /customlabeltype_courseheading/template -->
