<<<<<<< HEAD
/* Element specific rules that affect only this element class */

.custombox-sequenceheading .custombox-sequenceheader {
=======
.custombox-sequenceheading .custombox-sequenceheader {
    color: #E6C439;
>>>>>>> 3ffadab7e7686124b23744b85fce919514a24c9e
    font-size: 20px;
    line-height: 26px;
}

.custombox-sequenceheading p {
    font-size: 12pt;
    width: 100%;
}

.sequenceheading-image {
    width: 100%;
}
