
.custombox-sequenceheading {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

div.custombox-sequenceheading h2.custombox-sequenceheader {
    color: #E6C439;
    font-size: 20px;
    line-height: 26px;
}

div.custombox-sequenceheading p {
    font-size: 12pt;
    width: 100%;
}

.sequenceheading-image {
    width: 100%;
}
