table.custombox-seealso {
   width: 100%;
}

td.custombox-header-thumb.seealso {
   width:40px;
   padding-right:8px;
   border-right:1px solid #ECEDBA !important;
}

td.custombox-header-thumb.seealso {
    width:25px;
    background-image: url("/mod/customlabel/type/seealso/icon_seealso_small.png"); 
    background-repeat: no-repeat;
    height:73px;
}

#region-main td.custombox-header-thumb.seealso,
#page-region-main td.custombox-header-thumb.seealso {
    width:65px;
    min-width:65px;
    background-image: url("/mod/customlabel/type/seealso/icon_seealso.png"); 
    background-repeat: no-repeat;
    height:73px;
}

td.custombox-header-caption.seealso {
    color:#AEAB1E;
    font-weight:bolder;
    font-size:1.3em;
    padding-left:8px;
}

td.custombox-content.seealso {
    padding-left:8px;
    min-height:100Px;
}

td.custombox-content.seealso h1,
td.custombox-content.seealso h2,
td.custombox-content.seealso h3{
    background-image:none !important;
    padding-left:0px !important;
    color:#8A8D21 !important;
    font-weight:bolder !important;
}
