#region-main td.custombox-thumb.pedagogicadvice 
{
    width:65px;
    min-width:65px;
	background-image: url("type/pedagogicadvice/icon_infop.png"); 
	background-repeat: no-repeat;
    height:73px;
}

td.custombox-thumb.pedagogicadvice 
{
    width:25px;
	background-image: url("type/pedagogicadvice/icon_infop_small.png"); 
	background-repeat: no-repeat;
    height:73px;
}

.custombox-header-caption.pedagogicadvice
{
	font-weight:bolder;
}

.custombox-content.pedagogicadvice,
.custombox-control.pedagogicadvice
{
   width: 98%;
   border: 1px solid #378A39;
   background-color: #E7E8E6;
   color: #609957;
   padding: 3px;
}

.custombox-helper.pedagogicadvice {
   font-size:0.8em;
   color: #58AD5A;
}
