#region-main td.custombox-header-thumb.pedagogicnote {
    width:65px;
    min-width:65px;
	background-image: url("type/pedagogicadvice/icon_infop.png"); 
	background-repeat: no-repeat;
    height:73px;
}

td.custombox-header-thumb.pedagogicnote {
    width:25px;
	background-image: url("type/pedagogicadvice/icon_infop_small.png"); 
	background-repeat: no-repeat;
    height:73px;
}

.custom-pedagogicadvicecontent,
.custom-pedagogicadvicecontrol
 {
   width: 98%;
   border: 1px solid #378A39;
   background-color: #E7E8E6;
   color: #609957;
   padding: 3px;
}
.custom-pedagogicadvicehelper {
   font-size:80%
   color: #58AD5A;
}
