
table.processpractices td.leftmargin {
    background-color: #a8a8a8;
    min-width: 30px;
}

table.processpractices td.practicecontent {
   padding-left: 25px;
}

table.processpractices td.practicecontent ul li {
    font-family: "verdana";
    font-size: 18px;
    line-height: 1.4em;
}