{{!
    This file is part of The Customlabel Module

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_customlabel/authordata

    Classes required for JS:
    * no classes

}}
<!-- customlabeltype_authordata/template -->
<table class="custombox-authordata">
    {{#tablecaption}}
    <tr valign="top">
        <th class="custombox-title authordata" colspan="2">
            {{{tablecaption}}}
        </th>
    </tr>
    {{/tablecaption}}
    <tr valign="top">
        <td class="custombox-param authordata">
            {{#str}}author, customlabeltype_authordata{{/str}}{{#author2}}s{{/author2}} :
        </td>
        <td class="custombox-value authordata">

            {{#thumb3}}
            <img src="{{{thumb3}}}" title="{{{author3}}}" style="float:right" width="80"  height="120"/>
            {{/thumb3}}

            {{#thumb2}}
            <img src="{{{thumb2}}}" title="{{{author2}}}" style="float:right;margin-right:10px"  width="80"  height="120" />
            {{/thumb2}}

            {{#thumb1}}
            <img src="{{{thumb1}}}" title="{{{author1}}}" style="float:right;margin-right:10px"  width="80"  height="120" />
            {{/thumb1}}

            {{{author1}}}
            {{{author2}}}
            {{{author3}}}
        </td>
    </tr>

    {{#showinstitution}}
    <tr valign="top">
        <td class="custombox-param authordata">
            {{#str}}institution{{/str}}:
        </td>
        <td class="custombox-value authordata">
            {{{institution}}}
        </td>
    </tr>
    {{/showinstitution}}

    {{#showdepartment}}
    <tr valign="top">
        <td class="custombox-param authordata">
            {{#str}}department{{/str}}:
        </td>
        <td class="custombox-value authordata">
            {{{department}}}
        </td>
    </tr>
    {{/showdepartment}}

    {{#showcontributors}}
    <tr valign="top">
        <td class="custombox-param authordata">
            {{#str}}contributors, customlabeltype_authordata{{/str}}:
        </td>
        <td class="custombox-value authordata">
            {{{contributors}}}
        </td>
    </tr>
    {{/showcontributors}}

</table>
<!-- customlabeltype_authornote/template -->
