{{!
    This file is part of The Customlabel Module

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_customlabel/authordata

    Classes required for JS:
    * no classes

}}
<!-- customlabeltype_authordata/template -->
{{> mod_customlabel/start }}
    <table width="100%">
        {{#tablecaption}}
        <tr>
            <td class="custombox-title {{labelclass}}" colspan="2">
                {{{tablecaption}}}
            </td>
        </tr>
        {{/tablecaption}}

        <tr>
            <td class="custombox-param {{labelclass}}" width="{{leftcolumnratio}}">
                {{#str}}author, customlabeltype_authordata{{/str}}{{#hasmany}}s{{/hasmany}}
            </td>
            <td class="custombox-value {{labelclass}}" width="{{rightcolumnratio}}">
            <table width="100%">
                {{#authors}}
                <tr>
                    <td>
                        {{{authorname}}}
                    </td>
                {{#showrole}}
                    <td class="authordata-role">
                        {{{role}}}
                    </td>
                {{/showrole}}
                {{#showinstitution}}
                    <td class="authordata-institution">
                        {{{institution}}}
                    </td>
                {{/showinstitution}}
                {{#showdepartment}}
                    <td class="authordata-department">
                        {{department}}
                    </td>
                {{/showdepartment}}
                {{#thumb}}
                    <td class="authordata-thumb">
                        <img src="{{{thumb}}}" title="{{{author}}}" style="float:right" width="80"  height="120"/>
                    </td>
                {{/thumb}}
                </tr>
                {{/authors}}
                </table>
            </td>
        </tr>

        <!-- Old fashion for unique organisation - never used
        {{#showinstitution}}
        {{#institution}}
        <tr>
            <td class="custombox-param {{labelclass}}">
                {{#str}}institution{{/str}}
            </td>
            <td class="custombox-value {{labelclass}}">
                {{{institution}}}
            </td>
        </tr>
        {{/institution}}
        {{/showinstitution}}

        {{#showdepartment}}
        {{#department}}
        <tr>
            <td class="custombox-param {{labelclass}}">
                {{#str}}department{{/str}}
            </td>
            <td class="custombox-value {{labelclass}}">
                {{{department}}}
            </td>
        </tr>
        {{/department}}
        {{/showdepartment}}
        -->

        {{#showcontributors}}
        <tr>
            <td class="custombox-param {{labelclass}}">
                {{#str}}contributors, customlabeltype_authordata{{/str}}
            </td>
            <td class="custombox-value {{labelclass}}">
                {{{contributors}}}
            </td>
        </tr>
        {{/showcontributors}}

    </table>
{{> mod_customlabel/end }}
<!-- customlabeltype_authornote/template -->
