{{!
    This file is part of The Customlabel Module

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_customlabel/question

    Classes required for JS:
    * mod/customlabel/customlabel

}}
<!-- customlabeltype_theorema/template -->
{{> mod_customlabel/start }}

    <div class="custombox-container {{labelclass}}">
        <div class="custombox-flexline {{labelclass}}">
            <div class="custombox-header-caption {{labelclass}} {{skin}}">
                <h4>{{#str}}theorema, customlabeltype_theorema{{/str}}{{#hasname}}: {{theoremaname}}{{/hasname}}</h4>
            </div>
        </div>

        <div class="custombox-flexline {{labelclass}}">
            <div>
                {{{theorema}}}
            </div>
        </div>

        <div class="custombox-flexline {{labelclass}}">
            <div class="custombox-corollaries {{labelclass}}">
                {{{corollarylist}}}
            <div>
        </div>

        {{#showdemonstration}}
        <div class="custombox-flexline {{labelclass}}">
            <div class="custombox-demonstration {{labelclass}}">
                <div class="custombox-demonstration-caption {{labelclass}}">
                    {{#canshow}}
                    <img id="customctl-{{{customid}}}" src="{{{initialcontrolimageurl}}}" class="customctl" /> {{#str}}demonstration, customlabeltype_theorema{{/str}}
                    {{/canshow}}
                    {{^canshow}}
                    {{#str}}demonstration, customlabeltype_theorema{{/str}}<br/>
                    <span class="comment">{{#str}}notavailableyet, customlabeltype_theorema{{/str}}</span>
                    {{#hascap}}
                    <span class="teacher-comment">{{#str}}willopenon, customlabeltype_theorema{{/str}}: {{opentime}}</span>
                    {{/hascap}}
                    {{/canshow}}
                </div>
                <div id="custom-{{{customid}}}" class="custombox-demonstration {{labelclass}} {{initialclass}}">
                    {{#canshow}}
                    {{{demonstration}}}
                    {{/canshow}}
                </div>
            </div>
        </div>
        {{/showdemonstration}}
    </div>
{{> mod_customlabel/end }}
<!-- /customlabeltype_theorema/template -->
