
table.custombox-sectionheading h1 {
    color: #F2A439;
    font-size: 22px;
    line-height:26px;
}

table.custombox-sectionheading p {
    font-size:12pt;
    line-height:1.5em;
    width:95%;
}

tr.custombox-icon.sectionheading {
    height:85px;
    min-height:85px;
}

td.custombox-icon-left.sectionheading {
    background-size : 100% auto !important;
    min-width:80px;
    padding-right:20px;
}

td.custombox-icon-right.sectionheading {
    min-width:80px;
    padding-left:20px;
}