td.custombox-thumb.authornote {
    min-width:25px;
    width:25px;
    background-image: url("/mod/customlabel/type/authornote/icon_info_small.png"); 
    background-repeat: no-repeat;
    height:73px;
}

#page-region-main td.custombox-thumb.authornote,
#region-main td.custombox-thumb.authornote {
    width:65px;
    min-width:65px;
    background-image: url("/mod/customlabel/type/authornote/icon_info.png"); 
    background-repeat: no-repeat;
    height:73px;
}

.custombox-content.authornote,
.custombox-control.authornote {
   width: 98%;
   border: 1px solid #B0B0B0;
   background-color: #f0f0f0;
   color: #404040;
   padding: 3px;
}

.custombox-helper.authornote {
   font-size:80%;
   color: #606060;
}


