td.custombox-thumb.authornote {
    background-image: url("/mod/customlabel/type/authornote/pix/icon_info_small.png"); 
    background-repeat: no-repeat;
    height:73px;
    min-width:25px;
    width:25px;
}

#page-region-main td.custombox-thumb.authornote,
#region-main td.custombox-thumb.authornote {
    background-image: url("/mod/customlabel/type/authornote/pix/icon_info.png"); 
    background-repeat: no-repeat;
    height:73px;
    min-width:65px;
    width:65px;
}

.custombox-content.authornote,
.custombox-control.authornote {
   background-color: #f0f0f0;
   border: 1px solid #B0B0B0;
   color: #404040;
   padding: 3px;
   width: 98%;
}

.custombox-helper.authornote {
   color: #606060;
   font-size:80%;
}


