.custombox-worktodo {
    width: 100%;
}

.custombox-header-thumb.worktodo.colored {
    border-right: 1px solid #3399cc;
}

.custombox-header-caption.worktodo.colored {
    color: #3399cc;
}

.custombox-header-thumb.worktodo {
    background-image: url("/mod/customlabel/{{baseurl}}/icon_worktodo.png");
    background-repeat: no-repeat;
    height: 73px;
}

#region-main .custombox-header-thumb.worktodo,
#page-region-main .custombox-header-thumb.worktodo {
    min-width: 80px;
    width: 80px;
}

#page-region-pre .custombox-header-thumb.worktodo,
#region-pre .custombox-header-thumb.worktodo,
#region-post .custombox-header-thumb.worktodo,
#page-region-post .custombox-header-thumb.worktodo {
    background-size: 70%;
    min-width: 35px;
    width: 35px;
}

.custombox-content.worktodo {
    min-height: 100px;
}

.custombox-content.worktodo p {
    line-height: 1.5em;
}

.custombox-param.worktodo {
    font-weight: bold;
}

.custombox-worktype .custombox-param.worktodo {
    padding-left: 10px;
}

.custombox-worktype .custombox-value {
    height: 20px;
    padding-left: 8px;
}

.custombox-inner-content {
    padding-top: 20px;
}

span.custombox-value.worktype {
    color: #8c919b;
    font-size: 0.95em;
    font-style: italic;
}

div.custom-clockimage {
    background: url('/mod/customlabel/pix/clock.jpg') no-repeat;
}

/* Fontawesome */
.custombox-header-thumb.worktodo.flatstyle {
    background-image: url("/mod/customlabel/pix/spots/bluespot.png");
    text-align: center;
}

#page-region-main .custombox-header-thumb.worktodo.flatstyle,
#region-main .custombox-header-thumb.worktodo.flatstyle {
    background-position: 30% 0%;
}

td.custombox-header-thumb.worktodo.flatstyle:after {
    content: "\f085";
    font-family: "fontAwesome";
    color: white;
    font-size: 32px;
}

#page-region-pre .custombox-header-thumb.worktodo.flatstyle:after,
#region-pre .custombox-header-thumb.worktodo.flatstyle:after,
#region-post .custombox-header-thumb.worktodo.flatstyle:after,
#page-region-post .custombox-header-thumb.worktodo.flatstyle:after {
    font-size:12px;
    position: relative;
    top: -15px;
    left: -5px;
}
