table.custombox-worktodo {
    width: 100%;
}

.custombox-header-thumb.worktodo {
    padding-right:8px;
    border-right:1px solid #EFD3B8 !important;
}

.custombox-header-thumb.worktodo {
    width:25px;
    min-width:25px;
    background-image: url("/mod/customlabel/type/worktodo/icon_todo_small.png"); 
    background-repeat: no-repeat;
    height:73px;
}

#region-main td.custombox-header-thumb.worktodo,
#page-region-main td.custombox-header-thumb.worktodo {
    width:65px;
    min-width:65px;
    background-image: url("/mod/customlabel/type/worktodo/icon_todo.png");
    background-repeat: no-repeat;
    height:73px;
}

td.custombox-header-caption.worktodo {
    color:#B3621A;
    font-weight:bolder;
    font-size:1.3em;
    padding-left:8px;
}

td.custombox-content.worktodo {
    padding-left:8px;
    min-height:100px;
}

td.custombox-content.worktodo p {
    line-height:1.5em;
}

.custombox-param.worktodo {
    font-weight:bold !important;
}

.custombox-worktype .custombox-param.worktodo {
    padding-left:10px;
}

.custombox-worktype .custombox-value {
    padding-left:8px;
    height:20px;
}

td.custombox-content.worktodo h1,
td.custombox-content.worktodo h2,
td.custombox-content.worktodo h3{
    background-image:none;
    padding-left:0px;
    color:#999999;
    font-weight:bolder;
}

span.custombox-value.worktype {
    font-style:italic;
    color:#8C919B;
    font-size:0.95em;
}

div.custom-clockimage {
    background:url('/mod/customlabel/pix/clock.jpg') no-repeat;
}

