<<<<<<< HEAD
/* Element specific rules that affect only this element class */

=======
>>>>>>> 3ffadab7e7686124b23744b85fce919514a24c9e
.custombox-worktodo {
    width: 100%;
}

.custombox-header-thumb.worktodo.colored {
    border-right: 1px solid #3399cc;
}

.custombox-header-caption.worktodo.colored {
    color: #3399cc;
}

.custombox-header-thumb.worktodo {
    background-image: url("/mod/customlabel/{{baseurl}}/icon_worktodo.png");
}

.custombox-content.worktodo p {
    line-height: 1.5em;
}

.custombox-param.worktodo {
    font-weight: bold;
}

.custombox-worktype .custombox-param.worktodo {
    padding-left: 10px;
}

.custombox-worktype .custombox-value {
    height: 20px;
    padding-left: 8px;
}

.custombox-inner-content {
    padding-top: 20px;
}

span.custombox-value.worktype {
    color: #8c919b;
    font-size: 0.95em;
    font-style: italic;
}

div.custom-clockimage {
    background: url('/mod/customlabel/pix/clock.jpg') no-repeat;
}

/* Fontawesome */
.custombox-header-thumb.worktodo.flatstyle {
    background-image: url("/mod/customlabel/pix/spots/bluespot.png");
}

td.custombox-header-thumb.worktodo.flatstyle:after {
    content: "\f085";
}
