td.custombox-thumb.pedagogicadvice {
    background-image: url("/mod/customlabel/type/pedagogicadvice/pix/icon_infop_small.png"); 
    background-repeat: no-repeat;
    height:73px;
    min-width:25px;
    width:25px;
}

#page-region-main td.custombox-thumb.pedagogicadvice,
#region-main td.custombox-thumb.pedagogicadvice {
    background-image: url("/mod/customlabel/type/pedagogicadvice/pix/icon_infop.png"); 
    background-repeat: no-repeat;
    height:73px;
    min-width:65px;
    width:65px;
}

.custombox-content.pedagogicadvice,
.custombox-control.pedagogicadvice {
   background-color: #f8e0f8;
   border: 1px solid #d0d0d0;
   color: #404040;
   padding: 3px;
   width: 98%;
}

.custombox-helper.pedagogicadvice {
   color: #606060;
   font-size:80%;
}
