/* Skined variants */

.custombox-header-thumb.pedagogicadvice {
    background-image: url("/mod/customlabel/{{baseurl}}/icon_infop.png");
}

.custombox-header-thumb.pedagogicadvice.flatstyle,
    background-image: url("/mod/customlabel/pix/spots/grayspot.png");
}

.custombox-header-thumb.pedagogicadvice.flatstyle:after {
    content: "\f02e"; /* fa-bookmark */
}
