table.custombox-example {
   width: 100%;
}

.custombox-header-thumb.example {
   width:65px;
   padding-right:8px;
   border-right:1px solid #DBE41B !important;
}

td.custombox-header-thumb.example {
    min-width:25px;
    width:25px;
    background-image: url("/mod/customlabel/type/example/icon_example_small.png"); 
    background-repeat: no-repeat;
    height:73px;
}

#region-main td.custombox-header-thumb.example,
#page-region-main td.custombox-header-thumb.example {
    width:65px;
    min-width:65px;
    background-image: url("/mod/customlabel/type/example/icon_example.png"); 
    background-repeat: no-repeat;
    height:73px;
}

td.custombox-header-caption.example {
    color:#8C919B;
    font-weight:bolder;
    font-size:1.3em;
    padding-left:8px;
}

td.custombox-content.example {
    padding-left:8px;
    min-height:100px;
}

td.custombox-content.example h1,
td.custombox-content.example h2,
td.custombox-content.example h3{
    background-image:none !important;
    padding-left:0px !important;
    color:#465879 !important;
    font-weight:bolder !important;
}
