.custombox-example {
    width: 100%;
}

.custombox-header-thumb.example.colored {
    border-right: 1px solid #c76205;
}

.custombox-header-caption.example.colored {
    color: #c76205;
}

.custombox-header-thumb.example {
    background-image: url("/mod/customlabel/{{baseurl}}/icon_example.png");
}

.custombox-header-thumb.example.flatstyle {
    background-image: url("/mod/customlabel/pix/spots/grayspot.png");
}

.custombox-header-thumb.example.flatstyle:after {
    content: "\f0c3";
}
