table.custombox-information {
   width: 100%;
}

td.custombox-header-thumb.information {
   border-right:1px solid #f00000 !important;
   padding-right:8px;
}

td.custombox-header-thumb.information {
    background-image: url("/mod/customlabel/type/information/pix/icon_information_small.png"); 
    background-repeat: no-repeat;
    height:73px;
    min-width:25px;
    width:25px;
}

#region-main td.custombox-header-thumb.information,
#page-region-main td.custombox-header-thumb.information {
    background-image: url("/mod/customlabel/type/information/pix/icon_information.png"); 
    background-repeat: no-repeat;
    height:73px;
    min-width:65px;
    width:65px;
}

td.custombox-header-caption.information {
    color:#DB3333;
    font-size:1.3em;
    font-weight:bolder;
    padding-left:8px;
}

td.custombox-content.informationtext {
    min-height:100Px;
    padding-left:8px;
}
