#middle-column td.custombox-header-thumb.authornote {
    width:40px;
	background-image: url("icon_info.png"); 
	background-repeat: no-repeat;
    height:73px;
}

#left-column td.custombox-header-thumb.authornote,
#right-column td.custombox-header-thumb.authornote {
    width:25px;
	background-image: url("icon_info_small.png"); 
	background-repeat: no-repeat;
    height:73px;
}

.custom-authornotecontent,
.custom-authornotecontrol {
   width: 98%;
   border: 1px solid #B3B300;
   background-color: #FFFF80;
   color: #73750B;
   padding: 3px;
}
.custom-authornotehelper,
.custom-authornotehead {
   font-size:80%;
   color: #A7AB10;
}
