/* Skined variants */

.custombox-header-thumb.requestcontact.colored {
    border-right: 1px solid #1d0299;
}

.custombox-header-caption.requestcontact.colored {
    color: #1D0299;
}

.custombox-header-thumb.requestcontact {
    background-image: url("/mod/customlabel/{{baseurl}}/icon_requestcontact.png");
}

.custombox-header-thumb.requestcontact.flatstyle {
    background-image: url("/mod/customlabel/pix/spots/yellow_spot.png");
}

.custombox-header-thumb.requestcontact.flatstyle:after {
    content: "\f038";
}
