table.custombox-courseheading {
	width:100%;
   	background: none;
   	margin-top: 0em !important;
   	padding-left: 0px !important;
}

.custombox-preheading.courseheading{
   	font-size: 13px;
   	color: #A6A6A6;
}

.custombox-heading.courseheading {
   /* width: 550px; */
   margin-top:10px;
   font-size: 24px;
   line-height: 26px;
   color: #4D4B4A;
   font-style: italic;
}

.custombox-description.courseheading {
   color: #808080;
   text-align:justify;
   padding-right:20px;
   padding-top:20px;
} 

tr.custombox-icon.courseheading{
	min-height:125px;
	height:125px;
}

td.custombox-icon-left.courseheading{
	min-width:80px;
	padding-right:20px;
}

td.custombox-icon-right.courseheading{
	min-width:80px;
	padding-left:20px;
}