.custombox-text {
    font-size: 1.1em;
    margin-left: 65px;
}

.custombox-text ul {
    margin-left: 10px;
}

.custombox-text.readmorelink {
    text-align: right;
}

.custombox-text readmore.hidden {
    display: none;
}