


<div id="custombox-verticalspacer-{{courseid}}-{{customid}}" class="custombox-verticalspacer" style="height:{{spacing}}px;min-height:{{spacing}}px">
    &nbsp;

    {{#editing}}
    <img id="verticalspacer-handle-{{courseid}}-{{customid}}" class="custombox-verticalspacer-handle" src="{{{dragimageurl}}}">
    {{/editing}}

</div>