

<!-- mod_customlabel/start -->
<table class="custombox-{{labelclass}}" cellspacing="0" width="100%">

    <tr valign="top">
        <td class="custombox-header-thumb {{labelclass}} {{skin}} {{subtype}}" width="2%">
        </td>
        <td class="custombox-content {{labelclass}}" width="98%">
<!-- /mod_customlabel/start -->
