.custombox-question {
    width: 100%;
}

.custombox-header-thumb.question.colored {
    border-right: 1px solid #f00000;
}

.custombox-header-thumb.question {
    background-image: url("/mod/customlabel/{{baseurl}}/icon_question.png");
    background-repeat: no-repeat;
    height: 73px;
}

#region-main .custombox-header-thumb.question,
#page-region-main .custombox-header-thumb.question {
    min-width: 80px;
    width: 80px;
}

#page-region-pre .custombox-header-thumb.question,
#region-pre .custombox-header-thumb.question,
#region-post .custombox-header-thumb.question,
#page-region-post .custombox-header-thumb.question {
    min-width: 35px;
    width: 35px;
}

.custombox-content.questiontext {
    min-height: 100px;
    padding: 8px 10px;
}

.custombox-header-collapser.question {
    font-weight: bold;
    padding: 3px 10px;
}

.custombox-content.hint {
    background-color: #d0d0ff;
    color: #0000a0;
    padding: 10px 20px;
}

.custombox-content.answertext {
    background-color: #d0ffd0;
    color: #00a000;
    min-height: 100px;
    padding: 10px 20px;
}

.custombox-header-collapser.question .comment {
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.custombox-header-collapser.question .teacher-comment {
    -moz-opacity: 0.5;
    opacity: 0.5;
    color: #e00;
}

.custombox-qcm-answer.incorrect {
    border: 1px solid #f88;
    background-color: #fcc;
    border-radius: 8px;
}

.custombox-qcm-answer.correct {
    border: 1px solid #8f8;
    background-color: #cfc;
    border-radius: 8px;
}

.custombox-qcm-input {
    display: table-cell;
    padding-right: 10px;
}

.custombox-qcm-text {
    display: table-cell;
    padding-right: 10px;
}

.custombox-header-thumb.question.flatstyle {
    background-image: url("/mod/customlabel/pix/spots/FFFF1E_spot.png");
    text-align: center;
}

#page-region-main .custombox-header-thumb.question.flatstyle,
#region-main .custombox-header-thumb.question.flatstyle {
    background-position: 30% 0%;
}

.custombox-header-thumb.question.flatstyle:after {
    content: "\f128";
    font-family: "fontAwesome";
    color: white;
    font-size: 32px;
}

#page-region-pre .custombox-header-thumb.question.flatstyle:after,
#region-pre .custombox-header-thumb.question.flatstyle:after,
#region-post .custombox-header-thumb.question.flatstyle:after,
#page-region-post .custombox-header-thumb.question.flatstyle:after {
    font-size: 12px;
    position: relative;
    top: -15px;
    left: -5px;
}
