table.custombox-formule {
   width: 100%;
}

td.custombox-header-thumb.formule {
   border-right: 1px solid #f00000 !important;
   padding-right: 8px;
}

td.custombox-header-thumb.formule {
    background-image: url("/mod/customlabel/type/formule/pix/icon_formule_small.png");
    background-repeat: no-repeat;
    height: 73px;
    min-width: 25px;
    width: 25px;
}

#region-main td.custombox-header-thumb.formule,
#page-region-main td.custombox-header-thumb.formule {
    background-image: url("/mod/customlabel/type/formule/pix/icon_formule.png");
    background-repeat: no-repeat;
    height: 73px;
    min-width: 65px;
    width: 65px;
}

td.custombox-header-caption.formule {
    color: #d83030;
    font-size: 1.3em;
    font-weight: bolder;
    padding-left: 8px;
}

td.custombox-content.formuletext {
    min-height: 100px;
    padding-left: 8px;
}
