{{!
    This file is part of The Customlabel Module

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_customlabel/worktodo

    Classes required for JS:
    * no classes

}}
<!-- customlabeltype_worktodo/template -->
<table class="custombox-worktodo" cellspacing="0" width="100%">

    <tr valign="top">
        <td class="custombox-header-thumb worktodo" style="background-image : url({{{icon}}});" width="2%" rowspan="3">
        </td>
        <td class="custombox-header-caption worktodo" width="98%" colspan="2">
            {{#str}}worktodo, customlabeltype_worktodo{{/str}}
        </td>
    </tr>

    <tr valign="top">
        <td class="custombox-worktype worktodo" colspan="2">
            <span class="custombox-param worktodo">{{#str}}nature, customlabeltype_worktodo{{/str}}:
            </span> <span class="custombox-value worktodo">{{{worktypefield}}}</span>
        </td>
        <td class="custombox-timeexpected worktodo" align="right" width="40">
            <img src="{{{clock}}}" /> {{{estimatedworktime}}}
        </td>
    </tr>

    <tr valign="top">
        <td class="custombox-worktype worktodo">
            <span class="custombox-param worktodo">{{#str}}effort, customlabeltype_worktodo{{/str}}:
            </span> <span class="custombox-value worktodo">{{{workeffortfield}}}</span>
        </td>
        <td class="custombox-workmode worktodo" align="right" colspan="3">
            <span class="custombox-param worktodo">{{#str}}mode, customlabeltype_worktodo{{/str}}:
            </span> <span class="custombox-value worktodo">{{{workmodefield}}}</span>
        </td>
    </tr>

    <tr>
        <td class="custombox-content worktodo" colspan="2">
            {{{worktodo}}}
        </td>
    </tr>

</table>
<!-- /customlabeltype_worktodo/template -->
