{{!
    This file is part of The Customlabel Module

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_customlabel/worktodo

    Classes required for JS:
    * no classes

}}
<!-- customlabeltype_worktodo/template -->
{{> mod_customlabel/start }}
    <div class="custombox-container {{labelclass}}">
        <div class="custombox-flexline {{labelclass}}">
            <div class="custombox-header-caption {{labelclass}} {{skin}}">
                <h4>{{#str}}worktodo, customlabeltype_worktodo{{/str}}</h4>
            </div>
        </div>

        <div class="custombox-flexline {{labelclass}}">
            <div class="custombox-worktype {{labelclass}}">
                {{#showworktypefield}}
                {{#hastype}}
                <span class="custombox-param {{labelclass}}">{{#str}}nature, customlabeltype_worktodo{{/str}}:
                </span> <span class="custombox-value {{labelclass}}">{{{worktypefield}}}</span>
                {{/hastype}}
                {{/showworktypefield}}
            </div>
            {{#estimatedworktime}}
            <div class="custombox-timeexpected {{labelclass}}" align="right" width="40">
                <img src="{{{clock}}}" /> {{{estimatedworktime}}}
            </div>
            {{/estimatedworktime}}
        </div>

        <div class="custombox-flexline {{labelclass}}">
            {{#showworkeffortfield}}
            <div class="custombox-workeffort {{labelclass}}" width="50%">
                {{#haseffort}}
                <span class="custombox-param {{labelclass}}">{{#str}}effort, customlabeltype_worktodo{{/str}}:
                </span> <span class="custombox-value {{labelclass}}">{{{workeffortfield}}}</span>
                {{/haseffort}}
            </div>
            {{/showworkeffortfield}}
            {{#showworkmodefield}}
            <div class="custombox-workmode {{labelclass}}" width="50%" align="right">
                {{#hasmode}}
                <span class="custombox-param {{labelclass}}">{{#str}}mode, customlabeltype_worktodo{{/str}}:
                </span> <span class="custombox-value {{labelclass}}">{{{workmodefield}}}</span>
                {{/hasmode}}
            </div>
            {{/showworkmodefield}}
        </div>

        <div class="custombox-flexline {{labelclass}}">
            <div class="custombox-inner-content {{labelclass}}">
                {{{worktodo}}}
            </div>
        </div>
    </div>

{{> mod_customlabel/end }}
<!-- /customlabeltype_worktodo/template -->
