{{!
    This file is part of The Customlabel Module

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_customlabel/remind

    Classes required for JS:
    * mod/customlabel/customlabel

}}
<!-- customlabeltype_soluce/template -->
{{> mod_customlabel/start }}
<div class="custombox-container {{labelclass}}">
    <div class="custombox-flexline {{labelclass}}">
        <div class="custombox-header-caption {{labelclass}} {{skin}}">
            <h4>{{#str}}soluce, customlabeltype_soluce{{/str}}</h4>
        </div>
        <div class="custombox-header-collapser soluce" align="right" width="2%">
            <img id="customctl-{{customid}}" class="customctl" src="{{{initialcontrolimageurl}}}" />
        </div>
    </div>

    <div id="custom-{{customid}}" class="custombox-flexline {{labelclass}} {{initialclass}}">
        <div>
            {{{soluce}}}
        </div>
    </div>

</div>
{{> mod_customlabel/end }}
<!-- /customlabeltype_soluce/template -->
