.custombox-coursedata {
    border: 1px solid #000;
    width: 100%;
}

.custombox-coursedata p {
    margin-top: 0;
    padding-top: 0;
}

.custombox-title.coursedata {
    background-color: #000;
    color: #f0f0f0;
    font-size: 15px;
    padding: 5px;
    text-align: left;
}

.custombox-param.coursedata {
    background-color: #606060;
    border: #fff 1px solid;
    color: #fff;
    font-weight: bold;
    padding: 5px;
}

.custombox-coursedata td.custombox-value.coursedata {
    background-color: #e0e0e0;
    border: #a0a0a0 1px solid;
    color: #404040;
    padding: 5px;
}