table.custombox.localgoals {
   width: 100%;
}

.custombox-header-thumb.localgoals {
   width:40px;
   padding-right:8px;
   border-right:1px solid #9B5992 !important;
}

td.custombox-header-thumb.localgoals {
    min-width:25px;
    width:25px;
    background-image: url("/mod/customlabel/type/localgoals/icon_goals_small.png"); 
    background-repeat: no-repeat;
    height:73px;
}

#region-main td.custombox-header-thumb.localgoals,
#page-region-main td.custombox-header-thumb.localgoals {
    width:65px;
    min-width:65px;
    background-image: url("/mod/customlabel/type/localgoals/icon_goals.png"); 
    background-repeat: no-repeat;
    height:73px;
}

td.custombox-header-caption.localgoals {
    color:#9B5992;
    font-weight:bolder;
    font-size:1.3em;
    padding-left:8px;
}

td.custombox-content.localgoals {
    padding-left:8px;
    min-height:100px;
}

td.custombox-content.localgoals h1,
td.custombox-content.localgoals h2,
td.custombox-content.localgoals h3{
    background-image:none !important;
    padding-left:0px !important;
    color:#9B5992 !important;
    font-weight:bolder !important;
}
